<ion-header>
   <table style="width: 100%;text-align: center;">
    <tr>
      <td style="width: 50px;height: 60px" rowspan="1">
          <button ion-button (click)="global.menuToggle()"  class="headbutton">
            <ion-icon name="menu"></ion-icon>
          </button>
      </td>

      <td class="headtitle" rowspan="2">
        <img src="assets/imgs/basket icon.svg" style="
          width: 140px;
          display: block;margin: auto;" />
        <span  style="font-size: 25px">BASKET</span>
      </td>

      <td  style="width: 50px" rowspan="1">
      </td>

    </tr>

    <tr>

      <td>
        
        &nbsp;
      </td>

      <td>
        &nbsp;
      </td>
    </tr>
    <tr>
    </tr>
  </table>
  
</ion-header>


<ion-content padding>

  <table style="width:250px; text-align: center; margin: 0 auto 0 auto">
    <tr style="font-size: 15">
      <td (click)="greenlineactivate(1)">PENDING</td>
      <td (click)="greenlineactivate(2)">PAYED</td>
      <td (click)="greenlineactivate(3)">SAVED</td>
    </tr>
    <tr>
      <td>
        <div class="greenline" *ngIf="greenline==1"></div>
      </td>
      <td>
        <div class="grayline" *ngIf="greenline==2"></div>
      </td>
      <td>
        <div class="orangeline" *ngIf="greenline==3"></div>
      </td>
    </tr>
  </table>

<div *ngIf="greenline==1">

<div style="height: 20px"></div>
  <table style="width:100%;text-align: center;font-size: 17px;">
    <tr>
      <td style="width: 150px">TOTAL: items <b>0</b></td>
      <td></td>
      <td style="width: 125px">price: <b>P0</b></td>
    </tr>
  </table>
  <div style="height: 1px;background-color: grey;margin: 10px auto 10px auto;width: 90%"></div>
  <div style="height: 20px"></div>

<ion-item>
 <table style="width:100%">
   <tr>
     <td style="width: 75px;text-align: center;">
       <img src="assets/imgs/sample1.jpg" style="width: 100%"><br>
       ampalaya
     </td>
     <td style="width: 20px">
       &nbsp;
     </td>
     <td>
       <b>
         6KG<br>
         Total: P340
       </b><br>
       Blampo
     </td>
     <td style="width: 50px;">
       &nbsp;<br>edit
     </td>
     <td style="width: 110px;text-align: center;">
       <b>PICKUP</b><br>
       2:30pm JUN/11<br><div style="height: 5px"></div>
       <button class="basketblue">PENDING</button>

     </td>
   </tr>
 </table>
</ion-item>
<ion-item>
 <table style="width:100%">
   <tr>
     <td style="width: 75px;text-align: center;">
       <img src="assets/imgs/sample2.jpg" style="width: 100%"><br>
       okra
     </td>
     <td style="width: 20px">
       &nbsp;
     </td>
     <td>
       <b>
         6KG<br>
         Total: P340
       </b><br>
       Blampo
     </td>
     <td style="width: 50px;">
       &nbsp;<br>edit
     </td>
     <td style="width: 110px;text-align: center;">
       <b>DELIVERY</b><br>
       2:30pm JUN/11<br><div style="height: 5px"></div>
       <button class="basketgreen" (click)="openmodal()">PAY</button>

     </td>
   </tr>
 </table>
</ion-item>
<div style="height: 20px"></div>
<p style="margin: 0;text-align: center;color: #6eae61;font-size: 20px">pay for item when picked up</p>
</div>
<div *ngIf="greenline==2">

<div style="height: 20px"></div>
  <table style="width:100%;text-align: center;font-size: 17px;">
    <tr>
      <td style="width: 150px">TOTAL: items <b>2</b></td>
      <td></td>
      <td style="width: 125px">price: <b>P0</b></td>
    </tr>
  </table>
  <div style="height: 1px;background-color: grey;margin: 10px auto 10px auto;width: 90%"></div>
  <div style="height: 20px"></div>

<ion-item>
 <table style="width:100%">
   <tr>
     <td style="width: 75px;text-align: center;">
       <img src="assets/imgs/sample1.jpg" style="width: 100%"><br>
       ampalaya
     </td>
     <td style="width: 20px">
       &nbsp;
     </td>
     <td>
       <b>
         6KG<br>
         Total: P340
       </b><br>
       Blampo
     </td>
     <td style="width: 75px;">
       &nbsp;<br>details
     </td>
     <td style="width: 110px;text-align: center;">
       <b>PICKED-UP</b><br>
       2:30pm JUN/11<br><div style="height: 5px"></div>
       <button class="basketgray">PAYED</button>

     </td>
   </tr>
 </table>
</ion-item>
<ion-item>
 <table style="width:100%">
   <tr>
     <td style="width: 75px;text-align: center;">
       <img src="assets/imgs/sample2.jpg" style="width: 100%"><br>
       okra
     </td>
     <td style="width: 20px">
       &nbsp;
     </td>
     <td>
       <b>
         6KG<br>
         Total: P340
       </b><br>
       Blampo
     </td>
     <td style="width: 75px;">
       &nbsp;<br>details
     </td>
     <td style="width: 110px;text-align: center;">
       <b>PICKED-UP</b><br>
       2:30pm JUN/11<br><div style="height: 5px"></div>
       <button class="basketgray">PAYED</button>

     </td>
   </tr>
 </table>
</ion-item>
</div>
<div *ngIf="greenline==3">

<div style="height: 20px"></div>
  <table style="width:100%;text-align: center;font-size: 17px;">
    <tr>
      <td style="width: 150px">TOTAL: items <b>0</b></td>
      <td></td>
      <td style="width: 125px">price: <b>P0</b></td>
    </tr>
  </table>
  <div style="height: 1px;background-color: grey;margin: 10px auto 10px auto;width: 90%"></div>
  <div style="height: 20px"></div>

<ion-item>
 <table style="width:100%">
   <tr>
     <td style="width: 75px;text-align: center;">
       <img src="assets/imgs/sample1.jpg" style="width: 100%"><br>
       ampalaya
     </td>
     <td style="width: 20px">
       &nbsp;
     </td>
     <td>
       <b>
         6KG<br>
         Total: P340
       </b><br>
       Blampo
     </td>
     <td style="width: 75px;">
       &nbsp;<br>edit
     </td>
     <td style="width: 110px;text-align: center;">
       <b>PICKED-UP</b><br>
       2:30pm JUN/11<br><div style="height: 5px"></div>
       <button class="basketorange">BUY</button>

     </td>
   </tr>
 </table>
</ion-item>
<ion-item>
 <table style="width:100%">
   <tr>
     <td style="width: 75px;text-align: center;">
       <img src="assets/imgs/sample2.jpg" style="width: 100%"><br>
       okra
     </td>
     <td style="width: 20px">
       &nbsp;
     </td>
     <td>
       <b>
         6KG<br>
         Total: P340
       </b><br>
       Blampo
     </td>
     <td style="width: 75px;">
       &nbsp;<br>edit
     </td>
     <td style="width: 110px;text-align: center;">
       <b>PICKED-UP</b><br>
       2:30pm JUN/11<br><div style="height: 5px"></div>
       <button class="basketorange">BUY</button>

     </td>
   </tr>
 </table>
</ion-item>
</div>
</ion-content>