page-basket {
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
	background-image: none;
}


.greenline{
	width: 100%;height: 5px;background-color: #6eae61;
}
.grayline{
	width: 100%;height: 5px;background-color: #adaeb9;
}
.orangeline{
	width: 100%;height: 5px;background-color: #febf73;
}

.basketblue{
  border-radius: 10px;
  background: #81d2e8;
  padding: 10px 10px 10px 10px;
  color:white;
  font-size:12px;
}
.basketgreen{
  border-radius: 14px;
  background: #6eae61;
  padding: 10px 10px 10px 10px;
  color:white;
  font-size:12px;
}
.basketgray{
  border-radius: 10px;
  background: #adaeb9;
  padding: 10px 10px 10px 10px;
  color:white;
  font-size:12px;
}
.basketorange{
  border-radius: 10px;
  background: #febf73;
  padding: 10px 10px 10px 10px;
  color:white;
  font-size:12px;
}
}
