page-basket {
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
	background-image: none;
}


.greenline{
	width: 100%;height: 5px;background-color: #6eae61;
}
.grayline{
	width: 100%;height: 5px;background-color: #adaeb9;
}
.orangeline{
	width: 100%;height: 5px;background-color: #febf73;
}

.basketblue{
  border-radius: 17px;
  background: #81d2e8;
  padding: 5px; 
  width: 110px;
  height: 50px; 
  color:white;
  font-size:18;
}
.basketgreen{
  border-radius: 17px;
  background: #6eae61;
  padding: 5px; 
  width: 110px;
  height: 50px; 
  color:white;
  font-size:18;
}
.basketgray{
  border-radius: 17px;
  background: #adaeb9;
  padding: 5px; 
  width: 110px;
  height: 50px; 
  color:white;
  font-size:18;
}
.basketorange{
  border-radius: 17px;
  background: #febf73;
  padding: 5px; 
  width: 110px;
  height: 50px; 
  color:white;
  font-size:18;
}
}
