<ion-header>
  <table style="width: 100%;">
    <tr>
      <td style="width: 50px" rowspan="2">
          <button ion-button (click)="global.menuToggle()"  class="headbutton">
            <ion-icon name="menu"></ion-icon>
          </button>
      </td>
      <td class="headtitle">PRODUCTS</td>
      <td  style="width: 50px" rowspan="2">
         <button ion-button class="headbutton">
          <ion-icon name="ios-chatbubbles"></ion-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td>
          <input placeholder="Enter product name" class="headsearch" [(ngModel)]="search" style="height: 35px;" />
      </td>
    </tr>
  </table>
  <div style="height: 10px"></div>
</ion-header>

<ion-content padding>
  <table style="width:100%; color:#6eae61;text-align: center;">
    <tr>
      <td (click)="greenlineactivate('fruit')">FRUIT</td>
      <td (click)="greenlineactivate('vegetables')">VEGETABLES</td>
      <td (click)="greenlineactivate('grains')">GRAINS</td>
      <td (click)="greenlineactivate('herbs')">HERBS</td>
      <td (click)="greenlineactivate('bundle')">BUNDLE</td>
    </tr>
    <tr>
      <td>
        <div class="greenline" *ngIf="greenline=='fruit'"></div>
      </td>
      <td>
        <div class="greenline" *ngIf="greenline=='vegetables'"></div>
      </td>
      <td>
        <div class="greenline" *ngIf="greenline=='grains'"></div>
      </td>
      <td>
        <div class="greenline" *ngIf="greenline=='herbs'"></div>
      </td>
      <td>
        <div class="greenline" *ngIf="greenline=='bundle'"></div>
      </td>
    </tr>
  </table>
  <div style="height: 20px"></div>
  <div *ngIf="products!=undefined">
    <div  *ngIf="products.length==1">
      <table  style="width:100%;text-align: center;">
        <tr style="font-size: 20px;width:100%;text-align: center;padding: 6px">
          <td style="border-right: 2px solid #6eae61;width: 25%">
            <p style="font-size: 11px">DISTANCE</p>
          </td>
          <td style="border-right: 2px solid #6eae61;width: 25%">

            <p style="font-size: 11px">QUANTITY</p>
          </td>
          <td style="border-right: 2px solid #6eae61;width: 25%">

            <p style="font-size: 11px">PRICE</p>
          </td>
          <td style="padding-top: 6px;padding-bottom: 6px">

            <p style="font-size: 11px">AVAILABILITY</p>
          </td>
        </tr>
      </table>
      <div style="height:15px;"></div>
      </div>
  </div>
  <div style="width: 100%; text-align: center;color: white;background-color: #3e7337;padding: 3px;font-size: 18px" (click)="searchfunc()">SEARCH</div>

<div style="height:5px;"></div>

<div *ngIf="map==1">
    <img src="assets/imgs/mapicon.png" style="width: 40px; position: absolute;" (click)="change(0)">

      <div style="height:15px;"></div>

          <div *ngIf="products!=undefined" >
            <div  *ngIf="products.length>1">
              <table style="width: 33.33%;text-align: center;float: left;margin-bottom: 10px" *ngFor="let a of products" (click)="openproduct(a)"> 
                <tr>
                  <td style="width: 100%;" >
                    <img [src]="getimage(a.photo)" style="width: 100%">
                  </td>
                </tr>
                <tr>
                  <td>{{a.name | uppercase}}</td>
                </tr>
              </table>
            </div>
            <div  *ngIf="products.length==1">
               <table style="width: 100%;text-align: center;height: 184px">
                  <tr>
                    <td style="width: 50px;height: 60px" rowspan="1">
                    </td>

                    <td class="headtitle" rowspan="2">
                      <span  style="font-size: 25px">{{products[0].name | uppercase}}</span>
                      <img [src]="pic" style="
                        width: 210px;
                        display: block;margin: auto;" />
                    </td>

                    <td  style="width: 50px" rowspan="1">
                    </td>

                  </tr>

                  <tr>

                    <td>
                    
                    </td>

                    <td>
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                  </tr>
                </table>
                <hr>

                      <div style="height:20px"></div>

                    <table style="width: 50%;float: left;" *ngFor='let a of users' (click)="openuser(a)">
                      <tr>
                        <td style="width: 100%;padding-right:5px;" >
                          <table  style="width: 100%">
                            <tr>
                              <td style="width:80px;">
                                <img [src]="global.checkphoto(a.user.photo)" style="width: 80px;height: 80px;border-radius: 50%;" />
                              </td>
                              <td style="width: 10px"></td>
                              <td  style="font-size: 14px">
                                <span style="color: #6eae61"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></span><br>
                                <span>{{a.user.fname | uppercase}}</span><br>
                                  &#8369;{{a.price}}
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <div *ngIf="users!=undefined">
                    <p style="text-align: center;"  *ngIf="users.length==0">- No seller for this product -</p>
                    </div>
                    <p style="text-align: center;" *ngIf="users==undefined">Loading...</p>
            </div>
        </div>
<ion-spinner name="bubbles" *ngIf="products==undefined" style="margin-left: calc(50% - 10px)"></ion-spinner>
    <div  *ngIf="products!=undefined">
      <p style="text-align: center;"  *ngIf="products.length==0">- No product found! -</p>
    </div>
</div>

<div *ngIf="map==0">
<img src="assets/imgs/listicon.png" style="width: 40px; position: absolute;z-index: 10" (click)="change(1)">
<div #map2 id="map2" style="width: 100%;height: calc(100vh - 249px)"></div>
</div>

</ion-content>
