<ion-header>
   <table style="width: 100%;text-align: center;height: 184px">
    <tr>
      <td style="width: 50px;height: 60px" rowspan="1">
          <button ion-button (click)="global.menuToggle()"  class="headbutton">
            <ion-icon name="menu"></ion-icon>
          </button>
      </td>

      <td class="headtitle" rowspan="2">
        <span  style="font-size: 25px">{{navParams.data.name | uppercase}}</span>
        <img [src]="pic" style="
          width: 210px;
          display: block;margin: auto;" />
      </td>

      <td  style="width: 50px" rowspan="1">
      </td>

    </tr>

    <tr>

      <td>
        
        <img src="assets/imgs/back.jpg" style="
          width: 30px;" (click)="poppage()"/>
      </td>

      <td>
        &nbsp;
      </td>
    </tr>
    <tr>
    </tr>
  </table>
  
</ion-header>


<ion-content padding>
  
  <div style="height:20px"></div>

<table style="width: 50%;float: left;" *ngFor='let a of products' (click)="openuser(a)">
	<tr>
		<td style="width: 100%;padding-right:5px;" >
			<table  style="width: 100%">
				<tr>
					<td style="width:80px;">
						<img [src]="global.checkphoto(a.user.photo)" style="width: 80px;height: 80px;border-radius: 50%;" />
					</td>
					<td style="width: 10px"></td>
					<td  style="font-size: 14px">
						<span style="color: #6eae61"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon></span><br>
						<span>{{a.user.fname | uppercase}}</span><br>
							&#8369;{{a.price}}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div *ngIf="products!=undefined">
<p style="text-align: center;"  *ngIf="products.length==0">- No seller for this product -</p>
</div>
<p style="text-align: center;" *ngIf="products==undefined">Loading...</p>
</ion-content>