<ion-menu [content]="content" type="overlay" style="width: 100%">


  <ion-content style="background-color: #548746;color: white;">
  
  <img [src]='global.checkphoto(global.user.photo)' style="width: 100px;height: 100px;border-radius: 50%;display: block;
  margin-left: auto;
  margin-right: auto;margin-top: 10px"  *ngIf="global.user!=undefined"/>
      <p style="text-align: center;" *ngIf="global.user!=undefined">{{global.user.fname}}</p>
    <div style="height: 2px;width: 80%;background-color: white;margin-left: 10px;opacity: 0.8;margin-bottom: 13px;margin-top: 10px;margin-left: auto;
  margin-right: auto;"  *ngIf="global.user!=undefined"></div>
  <div style="height: 30px"  *ngIf="global.user==undefined"></div>
    <table style="width: 100%;margin: 10px;font-size: 15px;margin-top: 20px">
      <tr  *ngIf="global.user!=undefined">
        <td (click)="openPage(1)">
          
      <img src="assets/imgs/xxvp.png" style="width:25px; vertical-align: middle;"> VIEW PROFILE
        </td>
      </tr>
      <tr  *ngIf="global.user!=undefined">
        <td>
            <div style="height: 1px;width: 85%;background-color: white;margin-left: 10px;opacity: 0.8;margin-bottom: 13px;margin-top: 10px"></div>
        </td>
      </tr>

      <tr>
        <td  (click)="openPage(2)">
          <img src="assets/imgs/xxsp.png" style="width:25px; vertical-align: middle;"> SEARCH PRODUCT
        </td>
      </tr>
      <tr>
        <td>
            <div style="height: 1px;width: 85%;background-color: white;margin-left: 10px;opacity: 0.8;margin-bottom: 13px;margin-top: 10px"></div>
        </td>
      </tr>

      <tr>
        <td>
          <img src="assets/imgs/xxssp.png" style="width:25px; vertical-align: middle;"> SELL PRODUCT
        </td>
      </tr>
      <tr>
        <td>
            <div style="height: 1px;width: 85%;background-color: white;margin-left: 10px;opacity: 0.8;margin-bottom: 13px;margin-top: 10px"></div>
        </td>
      </tr>

      <tr  *ngIf="global.user!=undefined">
        <td   (click)="openPage(7)">
          <img src="assets/imgs/xxf.png" style="width:25px; vertical-align: middle;"> FAVORITES
        </td>
      </tr>
      <tr  *ngIf="global.user!=undefined">
        <td >
            <div style="height: 1px;width: 85%;background-color: white;margin-left: 10px;opacity: 0.8;margin-bottom: 13px;margin-top: 10px"></div>
        </td>
      </tr>

      <tr  *ngIf="global.user!=undefined">
        <td (click)="openPage(3)">
          <img src="assets/imgs/xxm.png" style="width:25px; vertical-align: middle;">  MESSAGES
        </td>
      </tr>
      <tr  *ngIf="global.user!=undefined">
        <td>
            <div style="height: 1px;width: 85%;background-color: white;margin-left: 10px;opacity: 0.8;margin-bottom: 13px;margin-top: 10px"></div>
        </td>
      </tr>

      <tr  *ngIf="global.user!=undefined" >
        <td  (click)="openPage(8)">
          <img src="assets/imgs/xxs.png" style="width:25px; vertical-align: middle;">  SETTINGS
        </td>
      </tr>
      <tr  *ngIf="global.user!=undefined">
        <td>
            <div style="height: 1px;width: 85%;background-color: white;margin-left: 10px;opacity: 0.8;margin-bottom: 13px;margin-top: 10px"></div>
        </td>
      </tr>

      <tr>
        <td>
          <img src="assets/imgs/xxh.png" style="width:25px; vertical-align: middle;">  HELP
        </td>
      </tr>
      <tr>
        <td>
            <div style="height: 1px;width: 85%;background-color: white;margin-left: 10px;opacity: 0.8;margin-bottom: 13px;margin-top: 10px"></div>
        </td>
      </tr>
      <tr   *ngIf="global.user==undefined">
        <td (click)="openPage(5)">
          <img src="assets/imgs/xxli.png" style="width:25px; vertical-align: middle;"> LOG-IN
        </td>
      </tr>
      <tr   *ngIf="global.user==undefined">
        <td>
            <div style="height: 1px;width: 85%;background-color: white;margin-left: 10px;opacity: 0.8;margin-bottom: 13px;margin-top: 10px"></div>
        </td>
      </tr>
      <tr>
        <td  (click)="openPage(6)"   *ngIf="global.user!=undefined">
          <img src="assets/imgs/xxlo.png" style="width:25px; vertical-align: middle;"> LOG-OUT
        </td>
      </tr>
      <tr>
        <td   *ngIf="global.user!=undefined">
            <div style="height: 1px;width: 85%;background-color: white;margin-left: 10px;opacity: 0.8;margin-bottom: 13px;margin-top: 10px"></div>
        </td>
      </tr>
    </table>


      <table style="width: 100%; margin: 20px;
  bottom: 0;
  left: 0;
  position: absolute;">
      <tr   *ngIf="global.user!=undefined">
        <td  (click)="openPage(4)">
          <img src="assets/imgs/xxb.png" style="width:28px; vertical-align: middle;">  SHOPPING BASKET
        </td>
      </tr>
      <tr>
        <td>
          <div style="height: 10px"></div>
          DONATE
        </td>
      </tr>
      </table>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>