page-popup-onload {
		.skipbutton{
				margin-left: calc(50% - 75px);
				width: 150px;
				background-color: #81d2e8;
				color: white;
				border-radius: 25px;
				padding-top: 10px;
				padding-bottom: 10px;
				height: 40px;
				font-size: 20px;
				margin-top: calc(55vh - 300px);
		}
}
